.homepage {
 	text-align: center;
	font-size: 28px;
	border-radius: 5px;
	margin-top: 50px;
	padding: 50px;

	width: 50%;
	height: 100%;
		margin-left: auto;
	margin-right: auto;
	border: solid 1px black;
	background-color: #9900CC;
	color:#300000;


}

ul{
	list-style-position: inside;
}

h3{
	font-size: 32px;
}